{% extends 'base.html' %}

{% block title %}Delete QR Session{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-body text-center">

            <h3>

                Delete QR Session?

            </h3>

            <br>

            <h4>

                {{ session.course.code }}

            </h4>

            <p>

                {{ session.course.name }}

            </p>

            <form method="POST">

                {% csrf_token %}

                <button class="btn btn-danger">

                    Yes Delete

                </button>

                <a href="{% url 'qr_session_detail' session.id %}"

                   class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}