<footer class="footer mt-5">

    <div class="container-fluid">

        <div class="row align-items-center">

            <!-- Left -->

            <div class="col-md-6 text-md-start text-center">

                <h6 class="mb-1">

                    🎓 Smart Campus ERP

                </h6>

                <small>

                    Complete Campus Management System

                </small>

            </div>

            <!-- Center -->

            <div class="col-md-3 text-center">

                <small>

                    Version 1.0.0

                </small>

            </div>

            <!-- Right -->

            <div class="col-md-3 text-md-end text-center">

                <small>

                    © {% now "Y" %}

                    Aditya Kumar

                </small>

            </div>

        </div>

    </div>

</footer>